body {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgb(31, 31, 31);
    height: 60vh;
    width: 27vw;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 0 -15px 0;
}

p {
    margin: 0 auto;
}

figcaption {
    font-size: 32px;
}

.address {
    font-size: 18px;
    color: rgb(216, 244, 130);
}